
*.msi
*.tfstate
*.exe
*.hcl
azure/step2/terraform.tfstate.json
*.backup
*.terraform
*.info
*.tfvars
*generated*
*tmp.txt
*decoded_tmp.txt
*login_info.csv
azure/avd/envs/dev/AVD/avd_users.json
azure/avd/envs/dev/AVD/avd_users.csv
