*.msi
*.tfstate
*.exe
*.hcl
*.backup
*.terraform
*.info
*.tfvars

azure/step2/terraform.tfstate.json
azure/avd/envs/dev/AVD/avd_users.json
azure/avd/envs/dev/AVD/avd_users.csv

*users.json
*users.csv
*generated*
*tmp.txt
*decoded_tmp.txt
*login_info.csv
aws/config/role_json/lambda_to_config_assume.json
*.pyc

aws/config/samples*
aws/config/role_json*
*.zip
aws/config/test-res.json

